/* your code here */
body{
	background-color:lightgreen !important;
}
.product{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:white;
	width:700px;
	margin:100px;
}
.controls{
	display:flex;
	padding:10px;
	justify-content:space-between;
	color:white;
}
.photo-album>ul>li,.variant>ul>li{
	list-style-type:none;
	border:1px solid black;
	pading:1px;
}
.photo-album>ul,.variant>ul{
	display:flex;
	flex-direction:row;
	gap:10px;
	padding:10px;
}
.photo-container{
	background-color:palegreen;
	position:relative;
	left:-50px;
	top:10px;
}
.photo-main>img{
	position:relative;
	left:-50px;
}
.photo-album{
	background-color:white;
}
.price{
	font-size:48px;
	color:red;
}
.product__info{
	padding:30px;
}